body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  img {
    width: 1700px;
    height: 600px;
    margin-top: 190px;
  }
   #hide {
    position: absolute;
        font-size: 40px; 
        padding: 10px;
        border: none;
        background: none;
        cursor: pointer;
        margin-left:850px;
       top:350px;
      color:rgb(230, 197, 10)

    }
    #show{
      position: absolute;
        font-size: 40px; 
        padding: 10px;
        border: none;
        background: none;
        cursor: pointer;
        margin-left:700px;
      top:350px;
      color:rgb(0, 0, 0)
    }
    .container{
      margin-top: -830px;

      width: 1700px;
      height: 1000px;
    }
    