body {
      background-color: #1e1e1e;
      color: #00ff99;
      font-family: monospace;
      display: flex;
      
      align-items: center;
      margin-top: 50px;
    }
    input, button {
      margin: 10px;
      padding: 8px 12px;
      font-size: 16px;
    }
    .btns {
      display: flex;
    
    }