body{
    background-color: black;
}
.le{
    background-color: red;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    box-shadow: 5px 30px 100px 30px rgb(249, 3, 3);
    margin: 100px;
    display: none;
}
.p{
    display: fixed;
}