*{
    box-sizing: border-box;
}
.box {
  width: 100px;
  height: 300px;
  background: rgb(8, 2, 2);
  border-radius: 20px;
  padding: 10px;
  display: flex; 
  
  align-items: center;
}

.light {
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 50%;
  
}

.red {
  background: rgb(163, 151, 151);
 padding: 30px;
 border-radius: 30px;
 width: 40px;
 margin: -120px;
 margin-left: 10px;
}



.green {
  background: rgb(89, 198, 30);
 padding: 30px;
 border-radius: 30px;
 width: 40px;
 margin: -120px;
 margin-left: 10px;
 margin-top: 140px;
}
