 body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 50px;
     
    }
    
    .input search{  
        background-color: black;
        color: white;
        width: 200px;
        height: 40px
    }
#search {
    width: 600px;
    height: 45px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
   margin-left: 500px;
   
}
.btn-outline-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}